[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pymupdf = "*"
langchain = "*"
fastapi = "*"
uvicorn = "*"
slack-sdk = "*"
python-dotenv = "*"
slack-bolt = "*"
faiss-cpu = "*"
sentence-transformers = "*"
numpy = "*"
boto3 = "*"
openai = "*"
flask = "*"
pdfplumber = "*"
watchdog = "*"
pypdf2 = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.12"
